<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ethereum Wallet</title>
</head>
<body>
<h1>Server is Ready </h1>
<div>
    <div>status:</div>
    <div th:text="${status}">
        text rendered here
    </div>
    <div>network:</div>
    <div th:text="${network}">
        text rendered here
    </div>
    <div>java:</div>
    <div th:text="${java}">
        text rendered here
   </div>
    <div>web3j:</div>
    <div th:text="${web3j}">
        text rendered here
   </div>

</div>

</body>
</html>